@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");


html, body{
    text-align: center;
    
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%,  rgb(255, 161, 161) 100%);

    font-family: 'Comic Sans MS';
  
}

.container {    
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    font-family: 'Comic Sans MS';
    font-weight: 500;
}
 
 
div{
    text-align: center;
    padding: 7px;
}
 h1,h2,h3,h4,h5,h6, .nav-link{
    font-family: 'Baloo Paaji', cursive;
    color:#36789f;
 }
p, .footer a{
    color:rgb(54, 37, 55);
    
}
section{
    padding-top: 5%;

}
.logo 
{
    width : 25%;
    height: 15%; 
}
.phone-1{
     
    height:500px;
    width: 300px;
    transform: rotate(-7deg);
    margin: 5%;
    
}
.phone-2 {
    height:420px;
    width: 220px;
  
}

.intro{
    padding : 7%;
  
}
 
.header {
    padding: 2%;
    text-align: center;
    width: 100%;
    
}

  
  .cta-section h2 {
     
    font-size: 3rem;
    font-weight: 700;
  }
  
  @media screen and (max-width: 768px) {
    .cta-section h2 {
      font-size: 2rem;
    }
  }
  .cta-section{
 
    justify-content: center;
 
  }
  .cta-section .btn {
    margin:5%;
    background: #21274d;
    color: #fff;
   
  }
  
  .cta-section .btn i {
    margin-right: 5px;
    font-size: 44px;
    line-height: 0;
  }
 
.footer {
    padding: 5rem 0 2.5rem 0;
    color:white;
    
  }
  
  .footer h3  {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .footer ul li  {
    margin-bottom: 10px;
 
  }
  
  
  
  .footer .copyright {
    margin-bottom: 0px;
 
  }
  
  